.rightpic {
    float: right;
}

button {
    height: 3rem;
    width: 3rem;
    margin: 2px;
    background-color: #E6E6FA;
    color:rgb(75, 0, 130);
    border-color: #4B0082;
    vertical-align: middle;
}

button:hover{
    background-color: rgb(119, 73, 169);
}

.area {
    width: 520px;
    height: 520px;
    margin-left: 50px;

}

.colon {

    display: flex;

    margin-left: 50px;
}

.colon p {

    margin: 20.8px;

    color:#E6E6FA;

    font: bold;
}

.row {

    position: absolute;
    top: 28.2%;

}

.row p {

    margin-bottom: 35px;

    color:#E6E6FA;

    font: bold;


}

img{
    border-radius: 20%;
}