

button{
    height: 3rem;
    width: 3rem;
    margin: 2px;
}

button:active{

    position: fixed;
}


.area{
    width: 520px;
    height: 520px;
    margin-left: 50px;
    
}

.colon{

    display: flex;

    margin-left: 50px;
}

.colon p{

    margin: 18.5px;
}

.row{

    position: absolute;
    top: 8%;

}

.row p{

    margin-bottom: 35px;

}